<div class="spazio"></div>

<footer>
    <div class="foot">
        <div class="contact-form">
            <div class="container">
                <div class="row">
                    <div class="contact-us">
                        <h3>Be social!</h3>

                        <div class="social-icons">
                            <ul>
                                <li class="facebook colore"><a href="https://www.facebook.com/" target="_blank"><i class="fab fa-facebook"></i></a></li>
                                <li class="twitter colore"><a href="https://twitter.com/twitter" target="_blank"><i class="fab fa-twitter"></i></a></li>
                            </ul>
                        </div>
                    </div>

                    <div class="contact-us dx">
                        <h3>Partnership</h3>

                        <div class="social-icons partner-icons">
                            <ul>
                                <li class="partner colore"><a href="http://fablabtorino.org/" target="_blank"><img src="{{ "img/fablab.png" | prepend: site.baseurl | prepend: site.url }}" alt="logo fablab" title="logo fablab"></a></li>
                                <li class="partner colore"><a href="https://officine.cc/" target="_blank"><img src="{{ "img/officine.png" | prepend: site.baseurl | prepend: site.url }}" alt="logo officine innesto" title="logo officine innesto"></a></li>
                                <li class="partner colore"><a href="http://www.indire.it/" target="_blank"><img src="{{ "img/indire.png" | prepend: site.baseurl | prepend: site.url }}" alt="logo indire" alt="logo indire"></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="fondo">
                <div class="copyright">
                    <p>All copyrights reserved to LabAdmin 2010-2018</br>Designed by Biviano, Cimmarusti, Dellarocca</p>
                </div>
            </div>
        </div>
    </div>
</footer>

<a href="#" class="back-to-top">
    <i class="lnr lnr-arrow-up"></i>
</a>

<script src="{{ "js/jquery-min.js" | prepend: site.baseurl | prepend: site.url }}"></script>
<script src="{{ "js/popper.min.js" | prepend: site.baseurl | prepend: site.url }}"></script>
<script src="{{ "js/bootstrap.min.js" | prepend: site.baseurl | prepend: site.url }}"></script>
<script src="{{ "js/jquery.mixitup.js" | prepend: site.baseurl | prepend: site.url }}"></script>
<script src="{{ "js/nivo-lightbox.js" | prepend: site.baseurl | prepend: site.url }}"></script>
<script src="{{ "js/owl.carousel.js" | prepend: site.baseurl | prepend: site.url }}"></script>
<script src="{{ "js/jquery.stellar.min.js" | prepend: site.baseurl | prepend: site.url }}"></script>
<script src="{{ "js/jquery.nav.js" | prepend: site.baseurl | prepend: site.url }}"></script>
<script src="{{ "js/scrolling-nav.js" | prepend: site.baseurl | prepend: site.url }}"></script>
<script src="{{ "js/jquery.easing.min.js" | prepend: site.baseurl | prepend: site.url }}"></script>
<script src="{{ "js/smoothscroll.js" | prepend: site.baseurl | prepend: site.url }}"></script>
<script src="{{ "js/jquery.slicknav.js" | prepend: site.baseurl | prepend: site.url }}"></script>
<script src="{{ "js/wow.js" | prepend: site.baseurl | prepend: site.url }}"></script>
<script src="{{ "js/jquery.vide.js" | prepend: site.baseurl | prepend: site.url }}"></script>
<script src="{{ "js/jquery.counterup.min.js" | prepend: site.baseurl | prepend: site.url }}"></script>
<script src="{{ "js/jquery.magnific-popup.min.js" | prepend: site.baseurl | prepend: site.url }}"></script>
<script src="{{ "js/waypoints.min.js" | prepend: site.baseurl | prepend: site.url }}"></script>
<script src="{{ "js/form-validator.min.js" | prepend: site.baseurl | prepend: site.url }}"></script>
<script src="{{ "js/contact-form-script.js" | prepend: site.baseurl | prepend: site.url }}"></script>
<script src="{{ "js/main.js" | prepend: site.baseurl | prepend: site.url }}"></script>
<script src="{{ "js/table.js" | prepend: site.baseurl | prepend: site.url }}"></script>
<script src="{{ "js/select2.js" | prepend: site.baseurl | prepend: site.url }}"></script>
<script src="{{ "js/perfect-scrollbar.min.js" | prepend: site.baseurl | prepend: site.url }}"></script>
<script src="{{ "js/carousel.js" | prepend: site.baseurl | prepend: site.url }}"></script>
