<nav class="navbar navbar-expand-lg fixed-top scrolling-navbar indigo">
    <div class="container">
        <div class="navbar-header">
            <a href="{{ site.t[page.lang].home }}" class="navbar-brand"> <h3 class="logo">{{ site.t[page.lang].title }}</h3></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main-navbar" aria-controls="main-navbar" aria-expanded="false" aria-label="Toggle navigation">
                <i class="lnr lnr-menu"></i>
            </button>
        </div>
        <div class="collapse navbar-collapse" id="main-navbar">
            {% if page.lang == 'it' %}
                <ul class="navbar-nav mr-auto w-100 justify-content-end">
                    <li class="nav-item">
                        <a class="nav-link page-scroll primo" href="{{ site.t[page.lang].home }}#hero-area">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link page-scroll" href="{{ site.t[page.lang].home }}#services">Cos'è</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link page-scroll" href="{{ site.t[page.lang].home }}#features">Dov'è</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link page-scroll" href="{{ site.t[page.lang].home }}#portfolios">Macchine</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link page-scroll" href="{{ site.t[page.lang].home }}#pricing">Progetto</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link page-scroll" href="{{ site.t[page.lang].home }}#blog">Blog</a>
                    </li>
                    <li class="nav-item lingue">
                        <a class="nav-link page-scroll flag qui" href="index.html">ITA</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link page-scroll flag" href="index_eng.html">ENG</a>
                    </li>
                </ul>
            {% else if page.lang == 'en' %}
                <ul class="navbar-nav mr-auto w-100 justify-content-end">
                    <li class="nav-item">
                        <a class="nav-link page-scroll primo" href="{{ site.t[page.lang].home }}#hero-area">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link page-scroll" href="{{ site.t[page.lang].home }}#services">What Is</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link page-scroll" href="{{ site.t[page.lang].home }}#features">Where Is</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link page-scroll" href="{{ site.t[page.lang].home }}#portfolios">Machines</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link page-scroll" href="{{ site.t[page.lang].home }}#pricing">Project</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link page-scroll" href="{{ site.t[page.lang].home }}#blog">Blog</a>
                    </li>
                    <li class="nav-item lingue">
                        <a class="nav-link page-scroll flag" href="index.html">ITA</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link page-scroll flag qui" href="index_eng.html">ENG</a>
                    </li>
                </ul>
            {% endif %}
        </div>
    </div>

    <ul class="mobile-menu">
        <li class="nav-item lingue">
            <a class="nav-link page-scroll flag qui" href="index.html">IT</a>
        </li>
        <li class="nav-item">
            <a class="nav-link page-scroll flag" href="english-index.html">ENG</a>
        </li>
        <li class="nav-item">
            <a class="nav-link page-scroll primo" href="#hero-area">Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link page-scroll" href="#services">Cos'è</a>
        </li>
        <li class="nav-item">
            <a class="nav-link page-scroll" href="#features">Dov'è</a>
        </li>
        <li class="nav-item">
            <a class="nav-link page-scroll" href="#portfolios">Macchine</a>
        </li>
        <li class="nav-item">
            <a class="nav-link page-scroll" href="#pricing">Progetto</a>
        </li>
        <li class="nav-item">
            <a class="nav-link page-scroll" href="#blog">Blog</a>
        </li>
        <li class="nav-item">
            <a class="nav-link page-scroll" href="#chat">Chat</a>
        </li>
    </ul>
</nav>
