<nav class="navbar navbar-expand-lg fixed-top scrolling-navbar indigo">
    <div class="container">
        <div class="navbar-header">
            <a href="{{ site.t[page.lang].home }}" class="navbar-brand"> <h3 class="logo">{{ site.t[page.lang].title }}</h3></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main-navbar" aria-controls="main-navbar" aria-expanded="false" aria-label="Toggle navigation">
                <i class="lnr lnr-menu"></i>
            </button>
        </div>
        <div class="collapse navbar-collapse" id="main-navbar">
            <ul class="navbar-nav mr-auto w-100 justify-content-end">
                <li class="nav-item">
                    <a class="nav-link page-scroll primo" href="{{ site.t[page.lang].home | prepend: site.baseurl | prepend: site.url }}#hero-area">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link page-scroll" href="{{ site.t[page.lang].home | prepend: site.baseurl | prepend: site.url }}#services">
                        {% if page.lang == 'it' %}
                            Cos'è
                        {% else if page.lang == 'en' %}
                            What Is
                        {% endif %}
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link page-scroll" href="{{ site.t[page.lang].home | prepend: site.baseurl | prepend: site.url }}#features">
                        {% if page.lang == 'it' %}
                            Dov'è
                        {% else if page.lang == 'en' %}
                            Where Is
                        {% endif %}
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link page-scroll" href="{{ site.t[page.lang].home | prepend: site.baseurl | prepend: site.url }}#portfolios">
                        {% if page.lang == 'it' %}
                            Macchine
                        {% else if page.lang == 'en' %}
                            Machines
                        {% endif %}
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link page-scroll" href="{{ site.t[page.lang].home | prepend: site.baseurl | prepend: site.url }}#pricing">
                        {% if page.lang == 'it' %}
                            Progetto
                        {% else if page.lang == 'en' %}
                            Project
                        {% endif %}
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link page-scroll" href="{{ site.t[page.lang].home | prepend: site.baseurl | prepend: site.url }}#blog">Blog</a>
                </li>
                <li class="nav-item lingue">
                    <a class="nav-link page-scroll flag {% if page.lang == 'it' %}qui{% endif %}" href="{{ "index.html" | prepend: site.baseurl | prepend: site.url }}">ITA</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link page-scroll flag {% if page.lang == 'en' %}qui{% endif %}" href="{{ "index_eng.html" | prepend: site.baseurl | prepend: site.url }}">ENG</a>
                </li>
            </ul>
        </div>
    </div>

    <ul class="mobile-menu">
        <li class="nav-item lingue">
            <a class="nav-link page-scroll flag {% if page.lang == 'it' %}qui{% endif %}" href="{{ "index.html" | prepend: site.baseurl | prepend: site.url }}">ITA</a>
        </li>
        <li class="nav-item">
            <a class="nav-link page-scroll flag {% if page.lang == 'en' %}qui{% endif %}" href="{{ "index_eng.html" | prepend: site.baseurl | prepend: site.url }}">ENG</a>
        </li>
        <li class="nav-item">
            <a class="nav-link page-scroll primo" href="{{ site.t[page.lang].home | prepend: site.baseurl | prepend: site.url }}#hero-area">Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link page-scroll" href="{{ site.t[page.lang].home | prepend: site.baseurl | prepend: site.url }}#services">
                {% if page.lang == 'it' %}
                    Cos'è
                {% else if page.lang == 'en' %}
                    What Is
                {% endif %}
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link page-scroll" href="{{ site.t[page.lang].home | prepend: site.baseurl | prepend: site.url }}#features">
                {% if page.lang == 'it' %}
                    Dov'è
                {% else if page.lang == 'en' %}
                    Where Is
                {% endif %}
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link page-scroll" href="{{ site.t[page.lang].home | prepend: site.baseurl | prepend: site.url }}#portfolios">
                {% if page.lang == 'it' %}
                    Macchine
                {% else if page.lang == 'en' %}
                    Machines
                {% endif %}
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link page-scroll" href="{{ site.t[page.lang].home | prepend: site.baseurl | prepend: site.url }}#pricing">
                {% if page.lang == 'it' %}
                    Progetto
                {% else if page.lang == 'en' %}
                    Project
                {% endif %}
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link page-scroll" href="{{ site.t[page.lang].home | prepend: site.baseurl | prepend: site.url }}#blog">Blog</a>
        </li>
    </ul>
</nav>
