<section id="services" class="section">
    <div class="container">
        <div class="contenuto">
            <div class="section-header">
                <h2 class="section-title wow fadeIn" data-wow-duration="1000ms" data-wow-delay="0.3s">{{ site.t[page.lang].claim_2 }}</h2>
                <hr class="lines wow zoomIn" data-wow-delay="0.3s" />
                <p class="section-subtitle wow fadeIn" data-wow-duration="1000ms" data-wow-delay="0.3s">
                  {{ site.t[page.lang].claim_3 }}      </p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 col-sm-6">
            <div class="item-boxes wow fadeInDown" data-wow-delay="0.2s">
                <div class="icon">
                    <i class="fas fa-sign-in-alt"></i>
                </div>
                <h4>  {{ site.t[page.lang].feature_1_Title }} </h4>
                <p class="ico">{{ site.t[page.lang].feature_1_Content }} </p>
            </div>
        </div>
        <div class="col-md-4 col-sm-6">
            <div class="item-boxes wow fadeInDown" data-wow-delay="0.8s">
                <div class="icon">
                    <i class="fas fa-key"></i>
                </div>
                <h4>  {{ site.t[page.lang].feature_2_Title }} </h4>
                <p class="ico">{{ site.t[page.lang].feature_2_Content }} </p>
            </div>
        </div>
        <div class="col-md-4 col-sm-6">
            <div class="item-boxes wow fadeInDown" data-wow-delay="1.2s">
                <div class="icon">
                    <i class="fas fa-donate"></i>
                </div>
                <h4>  {{ site.t[page.lang].feature_3_Title }} </h4>
                <p class="ico">{{ site.t[page.lang].feature_3_Content }} </p>
            </div>
        </div>
    </div>
</section>
