<div class="spazio"></div>

<section id="portfolios" class="section">
    <div class="container">
        <div class="section-header">
            <h2 class="section-title">
                {{ site.t[page.lang].machines_title }}
            </h2>
            <hr class="lines">
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="controls text-center">
                    <a class="filter active btn btn-common" data-filter="all">
                        {{ site.t[page.lang].machines_filters[0] }}
                    </a>
                    <a class="filter btn btn-common" data-filter=".stampanti">
                        {{ site.t[page.lang].machines_filters[1] }}
                    </a>
                    <a class="filter btn btn-common" data-filter=".fresa">
                        {{ site.t[page.lang].machines_filters[2] }}
                    </a>
                    <a class="filter btn btn-common" data-filter=".laser">
                        {{ site.t[page.lang].machines_filters[3] }}
                    </a>
                    <a class="filter btn btn-common" data-filter=".cutter">
                        {{ site.t[page.lang].machines_filters[4] }}
                    </a>
                </div>
            </div>
        </div>
        <div class="pino">
            <div id="portfolio" class="row">
                {% for machine in site.machines %}
                    <div class="col-sm-6 col-md-4 col-lg-4 col-xl-4 mix {{ machine.category }}">
                        <div class="portfolio-item">
                            <div class="shot-item">
                                <img src="img/macchine/{{ machine.img }}" alt="{{ machine.title }}"  title="{{ machine.title }}" />
                                <a class="overlay lightbox" href="img/macchine/3d_1.png">
                                    <i class="lnr lnr-eye item-icon"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</section>
