<div class="spazio"></div>

<section class="video-promo section">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <div class="video-promo-content text-center">
                    <h2 class="wow zoomIn" data-wow-duration="1000ms" data-wow-delay="100ms">Tutorial</h2>
                    <p class="wow zoomIn" data-wow-duration="1000ms" data-wow-delay="100ms">Scopri le funzionalità di LabAdmin con il nostro Tutorial</p>
                    <a href="https://www.youtube.com/" class="play wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="0.3s" target="_blank"><i class="fas fa-play-circle"></i></a>
                </div>
            </div>
        </div>
    </div>
</section>
